body {
    margin: 0;
    padding: 0;
}

@media(min-width: 992px) {
    .chocolate-museum {
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        background: transparent;
    }
    
    .chocolate-museum a {
        color: #DDC5A2;
        font-size: 20px;
        padding: 14px 16px;
        text-decoration: none;
        display: inline-block;
    }
    
    .chocolate-museum a.icon {
        background-color: transparent;
        right: 0;
        top: 0;
        display: none;
        position: absolute;
    }
    
    .active {
        background-color: transparent;
    }
    
    .chocolate-museum #chocolateMuseumLinks {
        display: inline-block;
    }
    
    i.fas.fa-cheese::before {
        padding-right: 10px;
        font-size: 20px;
    }
    
    span#chocolateMuseumLinks a {
        font-size: 17px;
    }
    /* Main Content */

.row {
    display: flex;
}

.column {
    flex: 50%;
    height: 100%;
}

.chocolate-museum-headings {
    font-size: 21px;
    background-color: #DDC5A2;
    margin-top: 3%;
    padding-bottom: 129px;
}

h2:nth-child(1) {
    padding-top: 44px;
    margin-left: 300px;
}

.chocolate-museum-top-picture {
    padding-top: 57px;

}

img {
    max-width: 100%;
}

.chocolate-museum-main-headings {
    margin-left: 300px;
    color: #523634;
}

.chocolate-museum-span {
    color: #B6452C;
}

.chocolate-museum-row {
flex-direction: row-reverse;
}

.column.alternate-headings {
    margin-top: 0;
    background-color: #DDC5A2
}

h1.chocolate-museum-main-headings {
    padding-top: 200px;
}

.chocolate-main-icons {
    font-size: 48px;
    margin-left: 420px;
}

p {
    padding-bottom: 77px;
    margin-left: 60px;
}
    .header-active {
        background: #301B28;
        z-index: 1;
        transition: 0.5s;
    }
}

@media(max-width: 400px) {
        .chocolate-museum {
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        background: transparent;
    }
    
    .chocolate-museum a {
        color: #DDC5A2;
        font-size: 20px;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
    }
    
    .chocolate-museum a.icon {
        background-color: transparent;
        right: 0;
        top: 0;
        display: inline-block;
        position: absolute;
    }
    
    .active {
        background-color: transparent;
    }
    
    .chocolate-museum #chocolateMuseumLinks {
        display: none;
    }
    
    i.fas.fa-cheese::before {
        padding-right: 10px;
        font-size: 20px;
    }
    
    span#chocolateMuseumLinks a {
        font-size: 17px;
    }

    .chocolate-museum-top-picture {
        width: 100%;
    }

    .chocolate-museum-headings {
        display: none;
    }

    .column.alternate-headings {
    font-size: 40px;
    background-color: #DDC5A2;
    margin-top: 3%;
    padding-bottom: 129px;
    padding-left: 475px;
    padding-right: 475px;
    width: 100%;
}
    .header-active {
        background: #301B28;
        z-index: 1;
        transition: 0.3s;
    }
    }