body {
    margin: 0;
    padding: 0;
}

@media(min-width: 992px) {
    .chocolate-museum {
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        background: transparent;
    }
    
    .chocolate-museum a {
        color: #DDC5A2;
        font-size: 20px;
        padding: 14px 16px;
        text-decoration: none;
        display: inline-block;
    }
    
    .chocolate-museum a.icon {
        background-color: transparent;
        right: 0;
        top: 0;
        display: none;
        position: absolute;
    }
    
    .active {
        background-color: transparent;
    }
    
    .chocolate-museum #chocolateMuseumLinks {
        display: inline-block;
    }
    
    i.fas.fa-cheese::before {
        padding-right: 10px;
        font-size: 20px;
    }
    
    span#chocolateMuseumLinks a {
        font-size: 17px;
    }
}

@media(max-width: 400px) {
        .chocolate-museum {
        width: 100%;
        overflow: hidden;
        position: fixed;
        top: 0;
        background: transparent;
    }
    
    .chocolate-museum a {
        color: #DDC5A2;
        font-size: 20px;
        padding: 14px 16px;
        text-decoration: none;
        display: block;
    }
    
    .chocolate-museum a.icon {
        background-color: transparent;
        right: 0;
        top: 0;
        display: inline-block;
        position: absolute;
    }
    
    .active {
        background-color: transparent;
    }
    
    .chocolate-museum #chocolateMuseumLinks {
        display: none;
    }
    
    i.fas.fa-cheese::before {
        padding-right: 10px;
        font-size: 20px;
    }
    
    span#chocolateMuseumLinks a {
        font-size: 17px;
    }

    .chocolate-museum-top-picture {
        width: 100%;
    }

    .chocolate-museum-headings {
        display: none;
    }
}

/* Main Content */

.row {
    display: flex;
}

.column {
    flex: 50%;
    height: 100%;
}

.chocolate-museum-headings {
    font-size: 21px;
    background-color: #DDC5A2;
    margin-top: 3%;
    padding-bottom: 129px;
}

h2:nth-child(1) {
    padding-top: 50px;
    margin-left: 300px;
}

.chocolate-museum-top-picture {
    padding-top: 58px;

}

img {
    max-width: 100%;
    background-color: blue;
}

.chocolate-museum-main-headings {
    margin-left: 300px;
    color: #523634;
}

.chocolate-museum-span {
    color: #B6452C;
}